* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.left-side,
.right-side {
  display: grid;
  grid-template-columns: repeat(11, 20px);
  grid-template-rows: repeat(11, 20px);
}

.square {
  width: 20px;
  height: 20px;
  border: solid 1px black;
  cursor: pointer;
}

.square.has-ship {
  background-color: black;
}

.square.has-ship.hit {
  background-color: red;
}

.square.no-ship.hit {
  content: '•';
  background-color: blue;
}
