* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.left-side, .right-side {
  display: grid;
  grid-template-columns: repeat(11, 20px);
  grid-template-rows: repeat(11, 20px);
}

.square {
  width: 20px;
  height: 20px;
  border: solid 1px black;
}
